*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;    
}


#top_banner{
    background-image: url(images/first-pic.jpg);
    height:700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
           
}
h1{
    font-size: 70px;
    color: #fff;
    padding-left: 15%;
    padding-top: 10%;
}
span{
    padding-left: 20%;
}
#top-peragraph{
    color:#fff;
    font-size: 25px;
    padding-left: 20%;
}
.link_button{
    text-decoration: none;
    background-image:linear-gradient(#a600ff, #f0482a);
    color:#fff;
    font-weight:700;
    border-radius: 5px;
    position: absolute;
    top:430px;
    left:620px;
    padding: 10px 40px;
}



h2{
    font-size:40px;
    margin: 100px 0 0 600px;
}
p{
    font-size: 19px;
    padding-left:20%;
    padding-right:20% ;
}
.bold{
    font-weight:700;
    padding-left: 40%;
}



.money-box{
    display: flex;
    margin:50px 450px;
    
}
.money-box1{
    width:100px;
    height:70px;
    background-color:whitesmoke;
    border-radius: 5px;
    margin:5px;
    padding-top:20px;
    padding-right:25px;
    padding-left:15px;
    font-weight: 700;
    font-size: 20px;
    font-family:Tahoma;
    color: gray;    
}
.money-box2{
    width:100px;
    height:70px;
    background-color: pink;
    border-radius: 5px;
    margin:5px;
    border: 2px solid red;
    padding-top:20px;
    padding-right:25px;
    padding-left:15px;
    font-weight: 700;
    font-size: 20px;
    font-family:Tahoma;
    color: gray;    
}
.money-box3{
    width:100px;
    height:70px;
    background-color:whitesmoke;
    border-radius: 5px;
    margin:5px;
    padding-top:20px;
    padding-right:25px;
    padding-left:15px;
    font-weight: 700;
    font-size: 20px;
    font-family:Tahoma;
    color: gray;
}
.money-box4{
    width:100px;
    height:70px;
    background-color:whitesmoke;
    border-radius: 5px;
    margin:5px;
    padding-top:20px;
    padding-right:25px;
    padding-left:15px;
    font-weight: 700;
    font-size: 20px;
    font-family:Tahoma;
    color: gray;
}
.money-box5{
    width:100px;
    height:70px;
    background-color:whitesmoke;
    border-radius: 5px;
    margin:5px;
    padding-top:20px;
    padding-right:25px;
    padding-left:15px;
    font-weight: 700;
    font-size: 20px;
    font-family:Tahoma;
    color:grey;    
}
.other-amount{
    width: 700px;
    border: none;
    border-bottom:2px solid #eae0e0;
    margin-left: 350px;
    margin-right:300px;
    padding-bottom:5px;        
}
::placeholder{
    padding:0 0 10px 280px;
}

